*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.title{
    font-size: 30px;
    color:#45415e;
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
}

header{
    width: 100%;
    height: 850px;

    background: #5D4157;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsl(100deg 11% 38% / 68%), hsl(313deg 19% 26% / 76%)),url(../images/20200120_194602.jpg);
    background: linear-gradient(to right, hsl(100deg 11% 38% / 68%), hsl(313deg 19% 26% / 76%)),url(../images/20200120_194602.jpg);


    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

nav{
    text-align: right;
    padding: 30px 50px 0 0 ;
}

nav > a{
    color:#fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 55px;
}

nav > a:hover{
    text-decoration: underline;
}

#wave{
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 275px;
    overflow: hidden;
}

.text-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 130px;
}

.text-header h1{
    font-size: 80px;
    font-weight: 400;
    color: #fff;
}

.text-header h2{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

.container-about-us{
    display: flex;
    justify-content: space-evenly;
}

.image-about-us{
    width: 45%;
    border-radius: 10%;
    box-shadow:  0 0 6px 0 rgba(0,0,0, 0.5);
}

.about-us .content-text{
    width: 45%;
}

.content-text h3{
    margin-bottom: 25px;
}

.content-text h3 span{
    background: #2b4251;
    color:#fff;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding: 2px;
    box-shadow:  0 0 6px 0 rgba(0,0,0, 0.5);
    margin-right: 7px;
}

.content-text p{
    padding: 0px 0px 30px 30px;
    text-align: justify;
    font-weight: 300;
}

.markets{
    background-color: hsl(251deg 95% 92%);
}

.gallery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.gallery-market{
    width: 24%;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow:  0 0 6px 0 rgba(0,0,0, 0.5);
}

.image-gallery{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-gallery{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: hsl(248deg 47% 26% / 67%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0);
    transition: transform .5s;
}

.hover-gallery img{
    width: 65px;
}

.hover-gallery p{
    color: #fff;
    margin-top: 10px;
}

.gallery-market:hover .hover-gallery{
    transform: scale(1);
}

.cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.cards .card{
    background: #0e6095;
    display:flex;
    width: 45%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    /*padding:5px ;*/
    margin-bottom: 10px;
}

.cards .card img{
    width: 100px;
    height: 100px;
    border:3px solid #fff;
    border-radius: 50%;
}

.cards .card > .content-text-card{
    width: 60%;
    color: #fff;
}

.cards .card > .content-text-card p{
    font-weight: 300;
    padding-top: 5px;
}

.about-services{
    background-color: hsl(251deg 95% 92%);
}

.service-all{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service{
    width: 40%;
    text-align: center;
    margin-left: 20px;
}

.service img{
    width: 90%;
    height: 200px;
}

.service h3{
    margin: 10px 0;
}

.service p{
    font-weight: 300;
    text-align: justify;
}   

footer{
    background: #6b91d5;
    padding: 60px 0 30px 0;
    /*padding-top: 60px;
    padding-bottom: 30px;*/
    
}

.container-footer{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 50px;
}

.content-footer{
    text-align: center;
}

.content-footer h4{
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-footer p{
    color: #fff;
    font-weight: 300;
}

.final-title{
    text-align: center;
    font-size: 24px;
    margin: 24px 0 0 0;
    color: #fff;
}